In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../data/Housing.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Label encoding

In [3]:
varlist =  ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

def binary_map(x):
    return x.map({'yes': 1, "no": 0})

data[varlist] = data[varlist].apply(binary_map)
data['furnishingstatus'] = data['furnishingstatus'].replace({'unfurnished': 0, 'semi-furnished': 1, 'furnished': 2})
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

El objetivo es conocer el precio de una vivienda

In [ ]:
y = data['price']
X = data.drop('price', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)


model = RandomForestClassifier()
model.fit(X_train, y_train)
print(f'R2: {model.score(X_test, y_test):.2f}')

Y_predict = model.predict(X_test)

for i in range(10):
    print(f'Predicción: {Y_predict[i]}, Real: {y_test.iloc[i]}, error: {abs(Y_predict[i]-y_test.iloc[i])}')

mean_er = abs(model.predict(X_test)-y_test).mean()
error_perc = (mean_er/y_test.mean())*100
print(f'Error medio : {mean_er:.2f}')
print(f'Porcentaje de error: {error_perc:.2f}%')

R2: 0.02
Predicción: 4200000, Real: 4403000, error: 203000
Predicción: 7140000, Real: 7350000, error: 210000
Predicción: 5145000, Real: 5250000, error: 105000
Predicción: 4620000, Real: 4550000, error: 70000
Predicción: 4130000, Real: 4382000, error: 252000
Predicción: 4550000, Real: 4690000, error: 140000
Predicción: 9870000, Real: 8540000, error: 1330000
Predicción: 4200000, Real: 5250000, error: 1050000
Predicción: 2450000, Real: 2730000, error: 280000
Predicción: 6090000, Real: 5950000, error: 140000
Error medio : 927408.81
Porcentaje de error: 19.94%